/* === RESET BROWSER DEFAULTS === */
*,
*::after,
*::before {
	margin: 0;
	/* zero out the browser default settings */
	padding: 0;
	/* zero out the browser default settings */
	box-sizing: inherit;
	/* All elements will inherit the parent's border-box property value */
}

/*  NOTE: Document parent element */
body {
	box-sizing: border-box;
	/* borders and padding no longer added */
	background: rgb(159, 156, 226);
	background: linear-gradient(
		287deg,
		rgba(159, 156, 226, 1) 0%,
		rgba(202, 245, 232, 1) 69%,
		rgba(177, 234, 250, 1) 100%
	);
	color: #ffffff;
	font-family: "Lato", sans-serif;
	min-height: 100vh;
}

.paragraph {
	font-size: 1.6rem;
}

.todo-card--header {
	display: block;
	padding: 1rem;
	text-transform: uppercase;
	text-align: center;
}

/* === ABSOLUTE CENTERED CARD === */
.todo-card {
	color: #455963;
	box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	border-radius: 16px;
	max-width: 400px;
	padding: 2rem;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* === TODO FORM === */
.todo-form {
	color: #455963;
	text-align: center;
	display: block;
}

.todo-input {
	width: 100%;
	padding: 10px 0;
	border: 0;
	box-shadow: 0 -1px #e2e4ea inset;
	color: #455963;
	display: block;
}

.todo-input::placeholder {
	color: #a8b5bb;
}

.todo-input:focus {
	box-shadow: 0 -1px #bdcdd6 inset;
	outline: none;
}

.todo-button {
	display: none;
}

.todo-input:hover > .todo-btn {
	display: block;
}

/* === TODO FILTERS === */
div.select {
	text-align: center;
	display: block;
	margin-bottom: 1rem;
}

.filter-todo {
	border: 1px solid #8a9ca5;
	padding: 3px 8px;
	background: 0;
	font-size: 14px;
	line-height: 1;
	cursor: pointer;
	font-family: var(--font);
	color: #8a9ca5;
	border-radius: 20px;
	outline: none;
}

/* === TODO LIST === */
.todo-list {
	list-style: none;
	padding: 1rem 0;
}

.todo-item {
	display: inline-block;
}

/* === COMPLETED TODO ITEM === */
.completed {
	text-decoration: line-through;
	opacity: 0.5;
}

/* === DELETE TODO === */
.delete-btn,
.edit-btn {
	display: none;
}

.todo:hover > .delete-btn,
.todo:hover > .edit-btn {
	display: inline-block;
}

/* === NO TASKS === */
.todo-none {
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 18px;
	background-size: 80px;
}
